<div [class]="'ui-tree-container' + ' ' + style">
  <div class="tree-item" *ngFor="let item of root" [ngClass]="{expanded: item.isExpanded === true}">
    <div class="item-details" [ngClass]="{'selected': item.isSelected === true}">
      <div class="item-expander">
        <i class="fa fa-chevron-down expand"
           title="Развернуть"
           *ngIf="item.children.length > 0 && item.isExpanded === false"
           (click)="expandItem(item.key)"></i>
        <i class="fa fa-chevron-up collapse"
           title="Свернуть"
           *ngIf="item.isExpanded === true"
           (click)="collapseItem(item.key)"></i>
      </div>
      <div class="item-title" (click)="selectItem(item.key)">{{ item.title }}</div>
    </div>
    <tree-item [tree]="tree" [items]="item.children" *ngIf="item.isExpanded === true" [style]="style"></tree-item>
  </div>
</div>
