<div [class]="'tree-item ' + style" *ngFor="let child of items" [ngClass]="{'with-children': child.children.length > 0, 'expanded': child.isExpanded === true}">
  <div class="item-details" [ngClass]="{'expanded': child.isExpanded === true, 'with-children': child.children.length > 0, 'selected': child.isSelected === true}">
    <div class="item-expander">
      <i class="fa fa-chevron-down"
         *ngIf="child.children.length > 0 && child.isExpanded === false"
         (click)="tree.expandItem(child.key)"></i>
      <i class="fa fa-chevron-up"
         *ngIf="child.isExpanded === true"
         (click)="tree.collapseItem(child.key)"></i>
    </div>
    <div class="item-title" (click)="tree.selectItem(child.key)">{{ child.title }}</div>
  </div>
  <tree-item [tree]="tree" [items]="child.children" *ngIf="child.isExpanded === true" [style]="style"></tree-item>
</div>
